# 1. Copy the code from the lesson to create a dataframe full of student grades.

In [12]:
# importing pandas for tabular manipulation
import pandas as pd
# importing numpy for vectorized math operations on the content
import numpy as np

# set a random seed to replicate results
np.random.seed(1349)

# define a list of students
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

In [51]:
from pydataset import data

In [3]:
# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [5]:
# each piece of grade information is ordered and as long as the students
math_grades

array([78, 77, 96, 62, 98, 95, 87, 99, 91, 84, 77, 83])

In [11]:
len(math_grades) == len(english_grades) == len(reading_grades) == len(students)

True

In [13]:
df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

In [15]:
df.head(3)

    name  math  english  reading
0  Sally    78       84       73
1   Jane    77       79       98
2  Suzie    96       91       91

In [16]:
df.tail(3)

       name  math  english  reading
9   Richard    84       61       94
10    Isaac    77       91       93
11     Alan    83       87       60

In [17]:
# big three investigative calls for a new dataframe:
# df.info()
#  -- basic details of the dataframe: size of df, glaringly obvious nulls (usually*), columns, datatypes
# df.head()
#  -- get the first few rows of the dataframe
# df.describe()
#  -- describe gives us our basic descriptive statistics

In [18]:
df.describe()

            math    english    reading
count  12.000000  12.000000  12.000000
mean   85.583333  82.000000  83.333333
std    11.007917   8.696917  12.928709
min    62.000000  61.000000  60.000000
25%    77.750000  78.500000  72.750000
50%    85.500000  84.500000  89.000000
75%    95.250000  88.000000  93.250000
max    99.000000  91.000000  98.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     12 non-null     object
 1   math     12 non-null     int64
 2   english  12 non-null     int64
 3   reading  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 512.0+ bytes

### Create a column named passing_english that indicates whether each student has a passing grade in english.

In [20]:
# how do we establish the truth value of whether or not a student is passing english?

In [21]:
# we have to create a boolean mask that will apply to the values inside of 
# the Series 'english'

# apply this boolean mask to the actual values to get an array of Truth values

# assign this column into our dataframe

In [27]:
df['english']

0     84
1     79
2     91
3     88
4     88
5     73
6     80
7     85
8     77
9     61
10    91
11    87
Name: english, dtype: int64

In [28]:
df['english'] >= 70

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
Name: english, dtype: bool

In [29]:
# assign the new value 
df['passing_english'] = df['english'] >= 70

In [30]:
df.head()

    name  math  english  reading  passing_english
0  Sally    78       84       73             True
1   Jane    77       79       98             True
2  Suzie    96       91       91             True
3  Billy    62       88       72             True
4    Ada    98       88       92             True

### Sort the english grades by the passing_english column. How are duplicates handled?

In [32]:
pd.DataFrame.sort_values?

Signature:
pd.DataFrame.sort_values(
    self,
    by,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
    ignore_index=False,
    key: 'ValueKeyFunc' = None,
)
Docstring:
Sort by the values along either axis.

Parameters
----------
        by : str or list of str
            Name or list of names to sort by.

            - if `axis` is 0 or `'index'` then `by` may contain index
              levels and/or column labels.
            - if `axis` is 1 or `'columns'` then `by` may contain column
              levels and/or index labels.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
     Choice of sorting algorithm. See also ndarray.np.sort for more
     information.  `mergesort` is the only stable algorithm. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.

     .. versionadded:: 1.0.0

key : callable, optional
    Apply the key function to the values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return a Series with the same shape as the input.
    It will be applied to each column in `by` independently.

    .. versionadded:: 1.1.0

Returns
-------
DataFrame or None
    DataFrame with sorted values or None if ``inplace=True``.

See Also
--------
DataFrame.sort_index : Sort a DataFrame by the index.
Series.sort_values : Similar method for a Series.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
... })
>>> df
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Sort by col1

>>> df.sort_values(by=['col1'])
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
  col1  col2  col3 col4
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B

Sorting with a key function

>>> df.sort_values(by='col4', key=lambda col: col.str.lower())
   col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Natural sort with the key argument,
using the `natsort <https://github.com/SethMMorton/natsort>` package.

>>> df = pd.DataFrame({
...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
...    "value": [10, 20, 30, 40, 50]
... })
>>> df
    time  value
0    0hr     10
1  128hr     20
2   72hr     30
3   48hr     40
4   96hr     50
>>> from natsort import index_natsorted
>>> df.sort_values(
...    by="time",
...    key=lambda x: np.argsort(index_natsorted(df["time"]))
... )
    time  value
0    0hr     10
3   48hr     40
2   72hr     30
4   96hr     50
1  128hr     20
File:      /opt/homebrew/anaconda3/envs/homebase/lib/python3.9/site-packages/pandas/core/frame.py
Type:      function

In [31]:
df.sort_values(by='passing_english')

       name  math  english  reading  passing_english
9   Richard    84       61       94            False
0     Sally    78       84       73             True
1      Jane    77       79       98             True
2     Suzie    96       91       91             True
3     Billy    62       88       72             True
4       Ada    98       88       92             True
5      John    95       73       64             True
6    Thomas    87       80       82             True
7     Marie    99       85       94             True
8    Albert    91       77       87             True
10    Isaac    77       91       93             True
11     Alan    83       87       60             True

* **Duplicates are handeled in ascending index order**

### Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

In [33]:
df.columns

Index(['name', 'math', 'english', 'reading', 'passing_english'], dtype='object')

In [34]:
df.sort_values(by=['passing_english', 'name'])

       name  math  english  reading  passing_english
9   Richard    84       61       94            False
4       Ada    98       88       92             True
11     Alan    83       87       60             True
8    Albert    91       77       87             True
3     Billy    62       88       72             True
10    Isaac    77       91       93             True
1      Jane    77       79       98             True
5      John    95       73       64             True
7     Marie    99       85       94             True
0     Sally    78       84       73             True
2     Suzie    96       91       91             True
6    Thomas    87       80       82             True

### Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

In [36]:
df.sort_values(by=['passing_english', 'english'], ascending=[True, False])

       name  math  english  reading  passing_english
9   Richard    84       61       94            False
2     Suzie    96       91       91             True
10    Isaac    77       91       93             True
3     Billy    62       88       72             True
4       Ada    98       88       92             True
11     Alan    83       87       60             True
7     Marie    99       85       94             True
0     Sally    78       84       73             True
6    Thomas    87       80       82             True
1      Jane    77       79       98             True
8    Albert    91       77       87             True
5      John    95       73       64             True

### Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [39]:
# presume each category of grade is weighted equally
df['overall'] = round((df.math + df.english + df.reading) / 3, 0).astype(int)

In [40]:
df.head(2)

    name  math  english  reading  passing_english  overall
0  Sally    78       84       73             True       78
1   Jane    77       79       98             True       85

In [44]:
# how many students passed in english?
len(df[df.passing_english])

11

In [46]:
# keep this in our pocket for later when we think about the total number of values
# that may or may not be null
df.passing_english.sum()

11

In [48]:
# What proportion of students passed in english?

round(df.passing_english.sum() / len(df) * 100, 2)

91.67

# 2. Load the mpg dataset.

In [49]:
# i want to get data from the pydataset for this one

In [52]:
mpg = data('mpg')

In [54]:
mpg_fake = data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [56]:
type(mpg_fake)

NoneType

# How many rows and columns are there?

In [58]:
mpg.shape

(234, 11)

# What are the data types of each column?

In [60]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [59]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

# Summarize the dataframe with .info and .describe

In [61]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

# Rename the cty column to city.

In [63]:
# Make the change to the original dataframe using inplace
mpg.rename(columns={'cty': 'city'}, inplace=True)

In [64]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'city',
       'hwy', 'fl', 'class'],
      dtype='object')

In [ ]:
# if we wanted to change everything in here:
# mpg.columns = ['newcol1', 'newcol2'... ... ]

# Rename the hwy column to highway.

In [65]:
# make the change to the original dataframe using reassignment
mpg = mpg.rename(columns={'hwy': 'highway)

In [67]:
mpg.head(2)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact

### Do any cars have better city mileage than highway mileage?

In [68]:
# ask how we want to compute this:
# are there instances where a row has a higher city value than highway value?
# mpg.city > mpg.highway

In [70]:
mask = mpg.city > mpg.highway

In [72]:
len(mpg[mask])

0

In [73]:
mask.sum()

0

### Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

In [74]:
mpg['mileage_difference'] = round(mpg.highway - mpg.city, 2)

In [76]:
mpg[['highway', 'city', 'mileage_difference']].head(2)

   highway  city  mileage_difference
1       29    18                  11
2       29    21                   8

#### Which car (or cars) has the highest mileage difference?

In [77]:
mpg.describe()

,displ,year,cyl,city,highway,mileage_difference
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,3.471795,2003.500000,5.888889,16.858974,23.440171,6.581197
std,1.291959,4.509646,1.611534,4.255946,5.954643,2.262739
min,1.600000,1999.000000,4.000000,9.000000,12.000000,2.000000
25%,2.400000,1999.000000,4.000000,14.000000,18.000000,5.000000
50%,3.300000,2003.500000,6.000000,17.000000,24.000000,7.000000
75%,4.600000,2008.000000,8.000000,19.000000,27.000000,8.000000
max,7.000000,2008.000000,8.000000,35.000000,44.000000,12.000000

In [78]:
# hardcoded:
# mpg[mpg.mileage_difference == 12]

In [80]:
mpg[mpg.mileage_difference == mpg.mileage_difference.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12

#### Which compact class car has the lowest highway mileage? The best?

Finding the answer by assigning variables one step at a time:

In [83]:
# dataframe mpg where mpg's class is compact
mpg[mpg['class'] == 'compact']

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7

44

In [144]:
# this way is really messy:
# mpg where the class is compact AND the highway mileage is the max, but only if its already a compact
# notice the redundancy here
mpg[(mpg['class'] == 'compact')
    & (mpg['highway'] == mpg[mpg['class'] == 'compact'].highway.max())]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,avg_mileage
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5

In [145]:
# superior: define the subclass, then filter down on that with a second mask.
mpg[mpg['class'] == 'compact'][]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,avg_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8,24.0
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8,21.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,21.0
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10,20.0
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8,25.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,23.0
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,22.5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,23.5
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6,22.0
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7,23.5
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,24.0
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8,25.0
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10,26.0
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,26.5
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,22.0
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8,22.0
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,22.5
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9,30.5
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,32.5
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,25.0
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8,25.0
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5

In [146]:
compacts = mpg[mpg['class'] == 'compact']

In [97]:
compacts[(compacts.highway == compacts.highway.max())]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11

In [98]:
compacts[(compacts.highway == compacts.highway.min())]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7

Finding the answer by using `&` in the boolean mask

# Create a column named average_mileage that is the mean of the city and highway mileage.

In [99]:
mpg['avg_mileage'] = (mpg.city + mpg.highway) / 2

In [102]:
# if we wanted to be picky wecould utilize the harmonic mean
# 2 / ((1 / mpg.city) + (1 / mpg.highway))

1      22.212766
2      24.360000
3      24.313725
4      24.705882
5      19.809524
         ...
230    22.638298
231    24.360000
232    19.809524
233    21.272727
234    20.558140
Length: 234, dtype: float64

# Which dodge car has the best average mileage? The worst?

In [104]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'city',
       'highway', 'fl', 'class', 'mileage_difference', 'avg_mileage'],
      dtype='object')

In [107]:
dodges = mpg[mpg.manufacturer == 'dodge']

In [108]:
dodges[dodges.avg_mileage == dodges.avg_mileage.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,avg_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0

**Best**

**Worst**

In [109]:
dodges[dodges.avg_mileage == dodges.avg_mileage.min()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,avg_mileage
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5

# Load the Mammals dataset.

In [112]:
mams = data('Mammals')

In [114]:
mams.head(2)

   weight  speed  hoppers  specials
1  6000.0   35.0    False     False
2  4000.0   26.0    False     False

# How many rows and columns are there?

In [115]:
mams.shape

(107, 4)

# What are the data types?

In [116]:
mams.dtypes

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

# Summarize the dataframe with .info and .describe

In [119]:
mams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [120]:
mams.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

# What is the the weight of the fastest animal?

In [124]:
mams[mams.speed == mams.speed.max()].speed

53    110.0
Name: speed, dtype: float64

# What is the overall percentage of specials?

In [126]:
mams.specials.sum()

10

In [127]:
len(mams[mams.specials])

10

In [129]:
len(mams)

107

In [130]:
print(f'Aproximately {round((mams.specials.sum()) / len(mams), 2) * 100} percent of mammals are classified as specials!')

Aproximately 9.0 percent of mammals are classified as specials!

# How many animals are hoppers that are above the median speed? What percentage is this?

In [131]:
mams.columns

Index(['weight', 'speed', 'hoppers', 'specials'], dtype='object')

In [133]:
# one condition: mammals that are hoppers
# mammals where mammals are hoppers is true
# the poison for kuzco
mams[mams.hoppers]

     weight  speed  hoppers  specials
82    0.056   21.0     True     False
85    0.035   32.0     True     False
86    0.035   14.0     True     False
96    4.600   64.0     True     False
97    4.400   72.0     True     False
98    4.000   72.0     True     False
99    3.500   56.0     True     False
100   2.000   64.0     True     False
101   1.900   56.0     True     False
102   1.500   50.0     True     False
103   1.500   40.0     True     False

In [136]:
mams[mams.speed > mams.speed.median()]

     weight  speed  hoppers  specials
5     400.0   70.0    False     False
6     350.0   70.0    False     False
7     300.0   64.0    False     False
8     260.0   70.0    False     False
11   1000.0   60.0    False     False
12    900.0   70.0    False     False
13    900.0   56.0    False     False
15    750.0   57.0    False     False
17    450.0   56.0    False     False
18    300.0   72.0    False     False
19    300.0   90.0    False     False
20    250.0   80.0    False     False
21    250.0   56.0    False     False
22    170.0   80.0    False     False
24    130.0   70.0    False     False
25    120.0   80.0    False     False
26    120.0   61.0    False     False
28    100.0   64.0    False     False
29     85.0   55.0    False     False
30     80.0   65.0    False     False
31     72.0   56.0    False     False
33     65.0   60.0    False     False
34     62.0   81.0    False     False
35     50.0  100.0    False     False
36     50.0   60.0    False     False
39     37.0  105.0    False     False
40     35.0   80.0    False     False
41     34.0   97.0    False     False
42     30.0   97.0    False     False
43     30.0   80.0    False     False
45     20.0   81.0    False     False
48    230.0   56.0    False     False
49    150.0   59.0    False     False
51     65.0   65.0    False     False
52     60.0   60.0    False     False
53     55.0  110.0    False     False
54     45.0   50.0    False     False
55     40.0   64.0    False     False
56     25.0   67.0    False     False
57     20.0   70.0    False     False
58     16.0   65.0    False     False
61     10.0   56.0    False     False
62      7.0   60.0    False     False
63      6.0   72.0    False     False
64      5.0   64.0    False     False
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False
104    50.0   65.0    False     False

In [139]:
# mams where mams are hoppers as well as mams where the speed is greater than the overall median
mams[(mams.hoppers == True) & (mams.speed > mams.speed.median())]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False

In [142]:
len(mams)

107

In [141]:
round(len(mams[(mams.hoppers == True) & (mams.speed > mams.speed.median())]) / len(mams) * 100, 2)

6.54